* {
    box-sizing: border-box;
  }

header {
  min-height: 150px;
  width:100%;
  background-image:url(../images/stock-photo-3.jpeg);
  /*background-color:#000000;*/
  margin:0px;
  /*opacity: .7s;*/
}

h1 {
  color: #ffffff;
  font-family: sans-serif;
}

