* {
    box-sizing: border-box;
  }

body {
  background-color:#000000;
  font-family: "sans-serif";
}

header {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/stock-photo-1-copy-3.jpeg);
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  "logo main name"
  "logo main profile "
}

h1 {
  color: #FFFFFF;
  font-size: 75px;
  text-align: center;
  grid-area: main;
  margin-top:15%;
}

h2 {
  color: #FFFFFF;
  font-size: 30px;
  text-align: center;
  grid-area: name;
  margin-top: 15%;
  margin-left:25%;
  margin-bottom: 0;
}

header button {
  background-color: #3E3E3E;
  color: #FFFFFF;
  float: right;
  font-family: sans-serif;
  font-size: 22px;
  margin: 12px;
  text-align: center;
  grid-area: profile;
  width:33%;
  height:50%;
  margin-left: 45%;
  margin-top: 5%;
  ;
}

.fitlit-svg {
  height: 200px;
  width: 200px;
  margin: 10px 10px 10px 65px;
  grid-area: logo;
}

.button-active {
  color: green;
  background-color: #535353;
}

.profile-info {
  background-color: #2B2B2B;
  color: #FFFFFF;
  font-size: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hide {
  display: none; 
}

.icon {
  height: 50px;
  width: 50px;
  padding: 10px;
  display: inline-block;
  margin: 10px auto 0px auto;
}

#icon-right {
  float:right;
}

#icon-left {
  float:left;
}

.grid {
  background-color: #191919;
  width:100%;
}

/* clear fix */
.grid: after {
  content: '';
  display: block;
  clear: both;

}

.grid-item {
  float: left;
  width: 200px;
  height: max-content;
  background-color: #FFFFFF;
  margin: 50px 0px 0px 150px;
  border-radius: 10px;
}

.gutter-sizer {
  width: 3%;
}

.grid-item--width2 {
  width: 400px;
  height: max-content;
  background-color: #FFFFFF;
  border: 2px solid;
}

.grid-item--height2 {
  width:400px;
  height: 250px;
  background-color: #FFFFFF;
  border: 2px solid;
}

.grid-item: hover {
border-color: hsla(0, 0%, 100%, 0.5);
cursor: move;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
background: rgb(157, 157, 157);
z-index: 2;
}

.packery-drop-placeholder {
outline: 3px dashed hsla(0, 0%, 0%, 0.5);
outline-offset: -6px;
-webkit-transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
}

.grid-item.is-pointer-down {
background: rgb(157, 157, 157);
z-index: 2; /* above other draggies */
}
.grid-item.is-dragging { opacity: 0.7; }

.step-goal-vs-avg {
  grid-area: goal;
  width: 33%;
}

.hydration {
  grid-area: hydration;
  width: 33%;
}

.sleep {
  grid-area: sleep;
  width: 33%;
}

.sleep-avg {
  grid-area: sleep;
  width: 33%;
}

.weekly-sleep {
  grid-area: sleep;
  width: 33%;
}

.activity-recent {
  grid-area: active;
  width: 33%;
}
.activity-comparison-recent {
  grid-area: active;
  width: 33%;
}

.activity-weekly {
  grid-area: active;
  width: 33%;
}

.activity-step-challenge {
  grid-area: active;
  width: 33%;
}

.activity-trends-steps {
  grid-area: active;
  width: 33%;
}

.activity-trends-stairs {
  grid-area: active;
  width: 33%;
}

.activity-life-time-miles {
  grid-area: active;
  width: 33%;
}

article {
  overflow-wrap: break-word;
  text-align: center;
  padding: 5px;
}